#listTrans .form-select{
    border-radius: 5px;
    width: 115px;
    height: 28px;
    padding: 5px;
}
#listTrans th{
    font-size: 12px;
    padding-right: 25px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
#listTrans th::before, #listTrans th::after{
    bottom: 0.7rem!important;
}
#listTrans td{
    font-size: 12px;
}
/*.dataTables_wrapper .dataTable td.orting_asc_disabled:after, .dataTables_wrapper .dataTable td.orting_asc_disabled:before, .dataTables_wrapper .dataTable td.orting_desc_disabled:after, .dataTables_wrapper .dataTable td.orting_desc_disabled:before, .dataTables_wrapper .dataTable td.sorting:after, .dataTables_wrapper .dataTable td.sorting:before, .dataTables_wrapper .dataTable td.sorting_asc:after, .dataTables_wrapper .dataTable td.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_desc:after, .dataTables_wrapper .dataTable td.sorting_desc:before, .dataTables_wrapper .dataTable th.orting_asc_disabled:after, .dataTables_wrapper .dataTable th.orting_asc_disabled:before, .dataTables_wrapper .dataTable th.orting_desc_disabled:after, .dataTables_wrapper .dataTable th.orting_desc_disabled:before, .dataTables_wrapper .dataTable th.sorting:after, .dataTables_wrapper .dataTable th.sorting:before, .dataTables_wrapper .dataTable th.sorting_asc:after, .dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable th.sorting_desc:after, .dataTables_wrapper .dataTable th.sorting_desc:before{
    bottom: 0.7rem!important;
}
*/

.nav-tabs {
    min-height: 41px;
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item .nav-link{
    color: #000000 !important;
}
.nav-tabs .nav-item .active{
    color: #276EF1 !important;
}


#detail-header{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
