.d-grid {
    .btn{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.btn{
    border-radius: 8px;
    padding:.375rem .75rem;
    
    font-family: 'SVN-Product Sans Bold',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &.btn-outline-gray{
        border-color: #AFAFAF;
        color:#757575;
        &:hover,&:active{
            background: #eee;
            border-color: #eee;
        }
    }
    &.btn-flat-gray{
        background: #eee;
        color:#757575;
    }
    &.btn-no-line{
        &:hover{
            background: #eee;
        }
    }
    &.btn-xs{
        padding:.2rem 0.5rem;
        font-family: 'SVN-Product Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
    }
    &.btn-outline-blue{
        background: #Fff;
        border-color: $blue;
        color:$blue;
    }

}
.btn-success{
    background: $blue;
    border-color:$blue;
}

.btn-light-green{
    background: #66D19E;
    color:#fff;
}
.btn-light-blue{
    background: #6FA2FF;
    color:#fff;
}
.btn-light-red{
    background: #FF6F5C;
    color:#fff;
}

.btn-light-gray{
    background: #CBCBCB;
    color:#fff;
}
.btn-white{
    background-color: #fff;
    color:$blue;
    &:hover,&:active{
        color:$blue;
        border-color: $blue;
    }
}
.date{
    position: relative;
    .add-on{
        display: block;
        position: absolute;
        top: 8px;right:10px;
        width: 16px;height: 16px;
        background:url(../images/ic-calendar.svg) no-repeat center center / 20px;
    }
}

.form-control{
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 8px;
    padding:.45rem .75rem;
    @include typo('normal',14px,$gray_black);
    &:disabled{
        opacity: .5;
    }
    &.form-lg{
        padding: 1rem;
    }
    &.no-border{
        border:none;
    }
}
.form-select{
    background-position: right .25rem center;
    background-size: 10px 8px;
}

.filterStatus{
    .dropdown-toggle{
        text-align: left;
        &:after{
            float:right;
            margin-top: 7px;
        }
    }
    .dropdown-menu{
        min-width: 15rem;
        li{
            padding: 0px 10px;
            a{
                display: flex;
                border-radius: 8px;
                overflow:hidden;
                padding:0;
                &.active{
                    background: #EEEEEE;
                   
                    color:$gray_black;
                    span{
                        color:$gray_black;
                    }
                }
                span{
                    color:#999CA0;
                    flex: 1 auto;
                }
                input[type="radio"]{
                    display: block;
                    width:0;height: 0;
                    visibility: hidden;
                    &:checked + label{
                        color:$gray_black;
                        &:after{
                            background: url(../images/ic-radio-checked.svg) no-repeat center center / 24px;
                        }
                    }   
                }
                label{
                    color:#999CA0;
                    flex: 1 auto;
                    display: flex;
                    padding: 14px;
                    align-items: center;
                    border-radius: 8px;
                    cursor: pointer;
                   &:after{
                       display: inline-flex;
                       content:"";
                       width: 19px;height:19px;
                       display: block;
                       background: url(../images/ic-radio.svg) no-repeat center center / 19px;
                   }
                }
            }
            
        }
    }
}

.page-link{
    background: #F1F2F4;
    border-radius: 30px!important;
    width: 34px;height:34px;
    color: $gray;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
        background: $blue;
        color:#fff;
    }
}

.form-sm,.form-select-sm{
    padding: .25rem .5rem;
    font-size: 12px;
}

.table>:not(caption)>*>*{
    border-bottom-color: #F1F2F4;
}
.table>thead>th{
    background:#eee;
    border-bottom: 2px solid #e5e5e5;
    @include typo('normal',12px,$gray_black);
}
table.dataTable{
     th{
         background: #eee;
        border-bottom: 2px solid #e5e5e5!important;
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        @include typo('normal',12px,$gray_black);
        white-space: nowrap;
     }
     .dt-center{
         text-align: center;
     }
     td{
         vertical-align: middle;
         @include typo('normal',13px,$gray_black);
         white-space: nowrap;
         .ncc{
             display:flex;
             align-items: center;
             .ncc_img{
                 margin-right: .5rem;
                 width: 21px;
             }
         }
     }
}
.bottom_paging{
    display: flex;
    justify-content: end;
    align-items: center;
    @include typo('normal',12px,$gray_black);
    &> div{
        margin-left: 6px;
    }
    .dataTables_length{
        order:0;
        .form-select-sm{
            padding-right: 3rem;
        }
    }
    .dataTables_info{
        order:1;
        padding-top:0!important;
    }
    .dataTables_paginate {
        order:2;
        margin-left: 10px!important;
    }
}

.form-select-error{
    border: 1px solid $light_red!important;
    color:$light_red!important;
}

.form-select-blue{
    border: 1px solid $light_blue!important;
    color:$light_blue!important;
}
.form-select-green{
    border: 1px solid $light_green!important;
    color:$light_green!important;
}

.ipt-search{
    background: url(../images/ic-search.svg) no-repeat 8px / 15px;
    padding-left: 24px;
}

.form-sm{
    padding: .15rem .35rem;
    @include typo('normal',13px,$gray_black);
}
.form-group{
    margin-bottom: 1rem;
}
.dropdown-menu{
    font-size: 14px;
}

.badge{
    border-radius: 6px;
    font-size: 12px;
    padding:.35rem .5rem;
    font-weight: 400;
    display: block;
    &.badge-light-green{
        background:$light_green;
        color:#fff;
    }
    &.badge-light-gray{
        background:#CBCBCB;
    }
}