header{
    background: #fff;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.05);
    position: relative;z-index: 10;
}
.logo{
    max-width: 90px;
    display: inline-flex;
    margin-left: 20px;
}

.nav-tabs{
    border-bottom-width: 2px;
    .nav-link{
        margin-bottom: -2px;
        @include typo('bold',16px,$gray_black);
        border:none;
        border-bottom: 2px solid transparent;
        .text-gray{
            color:$gray;
        }
        &.active{
            color:$blue;
            border-bottom-color: $blue;
        }
    }
}